*
{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

html 
{
    scroll-behavior: smooth;
}  

/*Navigation bar*/
header
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: rgba(75, 72, 72, 0.945);
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    justify-content: flex-end;
    position: fixed;

}

header .logo
{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header .logo img
{
    height: 45px;
}

header nav
{
    float: right;
}

header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul
{
    list-style: none;
}

header nav ul li a
{
    height: 55px;
    line-height: 50px;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active

{
    color: white;
    background: rgb(0, 170, 170);
}

.menu-toggle
{
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

header ul li ul
{
    position: absolute;
    background-color:rgba(97, 97, 97, 0.863);
    display: block;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul
{
    opacity: 1;
    visibility: visible;
}

/*End Of Navigation bar*/

/*Slider*/

.slider {
    position: relative;
    height: 100vh;
    min-height: 585px;
    width: 100%;
    overflow: hidden;
  }
  
.slider video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 125%;
    min-height: 125%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.slider .container {
    position: relative;
    z-index: 2;
  }

.slider .slidercontent{
	width: 100%;
	z-index: 2;
	position: absolute;
	top:250px;
	text-align: center;
}
  
.slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.slider h1
{
	font-size: 50px;
	color: #fff;
}
.slider p
{
	font-size: 25px;
	color: #fff;
}

#slider_logo
{
    width: 100px;
    position: relative;
    top: -20px;
    margin-right: 30px;
}

/* About*/

#about{
    margin-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about img{
    vertical-align: middle;
    padding-top: 90px;
}

#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
#about .btn:hover{
    border-color: teal;
    background-color: white;
    color: black;
}

.about-content{
    padding-top: 20px;
}

#more 
{
    display: none;
}

/*End of About Us*/

/*Services*/

#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../img/doggycat.jpg");
    background-size: cover;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h2{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#services h2::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

#services{
    margin-top: 40px;
}

.icon{
font-size: 40px;
margin: 20px auto;
padding: 20px;
height: 80px;
width: 80px;
}

#services p {
    font-size: 14px;
    margin-top: 20px;
    color:#ccc;
}

#services .col-md-4:hover{
    background: #049469be;
    transition: 0.7s;
}

/*Get in touch*/

#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(77, 77, 77);
}

#contact h2{
    text-align: center;
    color: #272626 !important;
    padding-bottom: 10px;
}

#contact h2::after{
    content: '';
    background: #4b2f2f;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;    
}

::placeholder{
    color:rgb(76, 0, 255) !important;
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa{
    margin: 10px;
    color: rgb(76, 0, 255);
    font-weight: bold;
}

/*Message Label*/
#messageLabel{
    color: red;
}

/*footer*/
#footer{
    background: #333;
    color: #fff;
    padding:12px;
}

#footer p{
    text-align: center;
}

@media(max-width: 991px)
{
    header
    {
        padding:0 20px;
    }

    .menu-toggle
    {
        display: block;
    }

    header nav
    {
        /*display: none*/
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background:#333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active
    {
        left: 0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }

    header nav ul li a
    {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    header ul li ul
    {
    width: 100%;
    }

    .slider
	{
		z-index: -1;
	}

	.slider h1
	{
		font-size: 40px;
	}
	.slider p
	{
		font-size: 20px;
		color: #fff;
	}

    #slider_logo
    {
        width: 90px;
    }

}